<div class="container">

  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task|%>
      <li>
        <% if task.completed == true %>
          <input type="checkbox" checked="checked" name="checkbox">
        <% else %>
          <input type="checkbox"  name="checkbox">
        <% end %>
          <label for="checkbox"><%= link_to task.title, task_path(task) %></label>
          <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  </ul>

  <%= link_to "Create new task", new_task_path, class: "btn btn-primary"  %>

</div>